@import url("./responsive.css");
@import url("./fonts/fonts.css");

* {
  padding: 0;
  margin: 0;
}

/*bg*/

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 631px 1711px #fff, 2915px 1257px #fff, 1652px 722px #fff,
    70px 66px #fff, 1380px 857px #fff, 1929px 280px #fff, 589px 974px #fff,
    352px 705px #fff, 64px 61px #fff, 1186px 1478px #fff, 1682px 1897px #fff,
    1408px 401px #fff, 1522px 1083px #fff, 1785px 1728px #fff, 1615px 94px #fff,
    494px 1599px #fff, 83px 1472px #fff, 879px 1433px #fff, 103px 1010px #fff,
    837px 397px #fff, 1636px 1793px #fff, 654px 761px #fff, 298px 776px #fff,
    728px 1413px #fff, 874px 1544px #fff, 452px 1496px #fff, 851px 583px #fff,
    725px 385px #fff, 1908px 666px #fff, 888px 943px #fff, 1867px 1118px #fff,
    1691px 49px #fff, 645px 713px #fff, 1103px 1752px #fff, 977px 225px #fff,
    1016px 1940px #fff, 617px 470px #fff, 1050px 876px #fff, 1074px 464px #fff,
    64px 597px #fff, 1741px 1127px #fff, 1697px 1744px #fff, 410px 1161px #fff,
    1888px 905px #fff, 844px 186px #fff, 909px 1786px #fff, 323px 1046px #fff,
    1944px 1815px #fff, 289px 598px #fff, 412px 795px #fff, 1645px 1946px #fff,
    181px 251px #fff, 1150px 732px #fff, 1454px 737px #fff, 180px 869px #fff,
    1926px 1040px #fff, 843px 961px #fff, 1771px 1930px #fff, 1383px 1494px #fff,
    1015px 1298px #fff, 1654px 905px #fff, 884px 187px #fff, 764px 1935px #fff,
    1865px 1089px #fff, 1460px 1468px #fff, 379px 459px #fff, 1189px 387px #fff,
    814px 1455px #fff, 1480px 1807px #fff, 1327px 23px #fff, 611px 713px #fff,
    1051px 1687px #fff, 633px 256px #fff, 287px 1464px #fff, 1786px 1893px #fff,
    1059px 298px #fff, 105px 1615px #fff, 1703px 1357px #fff, 1294px 1830px #fff,
    1700px 1468px #fff, 1193px 953px #fff, 1389px 386px #fff, 749px 197px #fff,
    1614px 1823px #fff, 662px 329px #fff, 422px 884px #fff, 1977px 199px #fff,
    1827px 278px #fff, 571px 779px #fff, 873px 1009px #fff, 890px 1350px #fff,
    898px 1299px #fff, 575px 1411px #fff, 410px 421px #fff, 455px 1659px #fff,
    920px 954px #fff, 1322px 1500px #fff, 1292px 956px #fff, 1372px 496px #fff,
    1415px 769px #fff, 1928px 1844px #fff, 1678px 1003px #fff, 669px 630px #fff,
    395px 527px #fff, 1175px 1490px #fff, 791px 1095px #fff, 879px 1904px #fff,
    1200px 113px #fff, 1312px 1899px #fff, 1067px 1286px #fff, 1065px 601px #fff,
    1819px 440px #fff, 699px 171px #fff, 1802px 1392px #fff, 1998px 887px #fff,
    1539px 1601px #fff, 1388px 1488px #fff, 260px 1775px #fff,
    1935px 1412px #fff, 1968px 1147px #fff, 398px 821px #fff, 105px 8px #fff,
    1671px 1305px #fff, 1267px 1370px #fff, 1064px 1097px #fff,
    348px 1934px #fff, 1732px 882px #fff, 734px 1998px #fff, 542px 1164px #fff,
    777px 636px #fff, 548px 1268px #fff, 1373px 1924px #fff, 1905px 109px #fff,
    1654px 450px #fff, 1711px 1700px #fff, 1078px 46px #fff, 454px 1757px #fff,
    399px 1726px #fff, 1421px 905px #fff, 1600px 91px #fff, 1064px 623px #fff,
    1599px 218px #fff, 1667px 1316px #fff, 1387px 665px #fff, 1718px 1589px #fff,
    534px 1492px #fff, 343px 1051px #fff, 114px 1912px #fff, 874px 1844px #fff,
    1173px 642px #fff, 1926px 670px #fff, 392px 1057px #fff, 1685px 2px #fff,
    537px 1370px #fff, 1386px 895px #fff, 1470px 1617px #fff, 947px 804px #fff,
    16px 1777px #fff, 1874px 1339px #fff, 1847px 1761px #fff, 1451px 1246px #fff,
    1449px 419px #fff, 258px 1589px #fff, 601px 128px #fff, 1050px 545px #fff,
    236px 955px #fff, 212px 176px #fff, 1370px 266px #fff, 1114px 333px #fff,
    1119px 1297px #fff, 751px 467px #fff, 1698px 1508px #fff, 1515px 226px #fff,
    1418px 551px #fff, 1754px 1380px #fff, 804px 69px #fff, 388px 1759px #fff,
    1108px 1184px #fff, 1302px 1072px #fff, 1577px 1650px #fff,
    762px 1142px #fff, 1200px 448px #fff, 866px 4px #fff, 314px 1785px #fff,
    281px 1913px #fff, 1832px 1089px #fff, 1331px 1512px #fff, 632px 635px #fff,
    446px 777px #fff, 569px 11px #fff, 1157px 1146px #fff, 1246px 440px #fff,
    1482px 73px #fff, 1200px 1863px #fff, 509px 828px #fff, 1121px 1087px #fff,
    29px 823px #fff, 719px 304px #fff, 212px 367px #fff, 1306px 304px #fff,
    1278px 482px #fff, 507px 1786px #fff, 1793px 1875px #fff, 235px 1401px #fff,
    185px 506px #fff, 1084px 1891px #fff, 706px 710px #fff, 1441px 1226px #fff,
    837px 1002px #fff, 325px 489px #fff, 45px 1592px #fff, 1363px 1905px #fff,
    755px 904px #fff, 755px 367px #fff, 1116px 637px #fff, 1797px 1552px #fff,
    890px 1176px #fff, 1509px 57px #fff, 1632px 364px #fff, 801px 735px #fff,
    266px 1862px #fff, 1295px 1499px #fff, 349px 1830px #fff, 1988px 1321px #fff,
    1100px 23px #fff, 906px 693px #fff, 1125px 1450px #fff, 1714px 694px #fff,
    216px 1480px #fff, 698px 1801px #fff, 376px 326px #fff, 191px 1154px #fff,
    146px 1524px #fff, 389px 28px #fff, 1596px 1773px #fff, 377px 357px #fff,
    979px 262px #fff, 1596px 685px #fff, 1129px 1803px #fff, 886px 1898px #fff,
    489px 885px #fff, 621px 1935px #fff, 329px 1913px #fff, 1215px 199px #fff,
    325px 218px #fff, 1848px 259px #fff, 487px 1357px #fff, 713px 1195px #fff,
    61px 417px #fff, 1656px 255px #fff, 782px 1356px #fff, 907px 1244px #fff,
    199px 1325px #fff, 157px 1710px #fff, 610px 793px #fff, 1468px 332px #fff,
    93px 384px #fff, 925px 918px #fff, 507px 1229px #fff, 778px 171px #fff,
    1966px 1484px #fff, 1656px 200px #fff, 175px 68px #fff, 1801px 1403px #fff,
    1203px 335px #fff, 1511px 1147px #fff, 1368px 1649px #fff, 134px 67px #fff,
    1693px 1803px #fff, 1947px 1679px #fff, 780px 1907px #fff, 1443px 745px #fff,
    913px 1296px #fff, 1157px 1477px #fff, 96px 1094px #fff, 1582px 780px #fff,
    490px 1469px #fff, 1683px 654px #fff, 841px 371px #fff, 1385px 1559px #fff,
    1648px 513px #fff, 461px 1752px #fff, 587px 576px #fff, 941px 527px #fff,
    1922px 321px #fff, 1462px 971px #fff, 1350px 103px #fff, 805px 193px #fff,
    811px 1119px #fff, 1336px 247px #fff, 503px 378px #fff, 653px 508px #fff,
    885px 135px #fff, 324px 532px #fff, 851px 222px #fff, 923px 1533px #fff,
    722px 1733px #fff, 1566px 1007px #fff, 601px 1435px #fff, 592px 1220px #fff,
    1609px 1219px #fff, 1756px 641px #fff, 1775px 163px #fff, 388px 289px #fff,
    281px 424px #fff, 1703px 1467px #fff, 1790px 626px #fff, 956px 713px #fff,
    529px 356px #fff, 1349px 1741px #fff, 228px 820px #fff, 514px 1187px #fff,
    1584px 1518px #fff, 187px 678px #fff, 1309px 1984px #fff, 218px 1515px #fff,
    1192px 1980px #fff, 752px 1684px #fff, 1609px 1088px #fff, 499px 572px #fff,
    464px 691px #fff, 467px 877px #fff, 802px 1512px #fff, 1837px 989px #fff,
    53px 1455px #fff, 943px 151px #fff, 850px 1878px #fff, 1626px 1918px #fff,
    1312px 330px #fff, 1716px 160px #fff, 16px 1617px #fff, 189px 692px #fff,
    1985px 1647px #fff, 629px 17px #fff, 1911px 1874px #fff, 1097px 252px #fff,
    663px 1434px #fff, 1987px 144px #fff, 71px 982px #fff, 1319px 1109px #fff,
    871px 274px #fff, 380px 1055px #fff, 1414px 1856px #fff, 117px 127px #fff,
    192px 1164px #fff, 1725px 765px #fff, 856px 1800px #fff, 797px 1461px #fff,
    541px 939px #fff, 433px 1169px #fff, 252px 183px #fff, 77px 645px #fff,
    1566px 326px #fff, 1040px 1237px #fff, 1394px 625px #fff, 369px 318px #fff,
    781px 124px #fff, 1646px 167px #fff, 477px 1543px #fff, 438px 1946px #fff,
    1845px 1731px #fff, 1700px 1616px #fff, 36px 1039px #fff, 1119px 463px #fff,
    1737px 1394px #fff, 1791px 913px #fff, 409px 51px #fff, 1161px 1605px #fff,
    1634px 568px #fff, 1511px 776px #fff, 1362px 1308px #fff, 359px 460px #fff,
    1583px 1854px #fff, 1768px 1606px #fff, 873px 885px #fff, 224px 683px #fff,
    1145px 362px #fff, 71px 1591px #fff, 1881px 449px #fff, 1661px 364px #fff,
    264px 1803px #fff, 117px 570px #fff, 1861px 954px #fff, 104px 979px #fff,
    301px 379px #fff, 715px 1797px #fff, 900px 570px #fff, 1700px 1665px #fff,
    288px 844px #fff, 709px 544px #fff, 635px 1302px #fff, 952px 347px #fff,
    1840px 980px #fff, 759px 549px #fff, 1399px 710px #fff, 1991px 1265px #fff,
    1851px 319px #fff, 840px 13px #fff, 1732px 1973px #fff, 860px 1916px #fff,
    1px 749px #fff, 729px 1538px #fff, 1063px 450px #fff, 825px 1128px #fff,
    1702px 1694px #fff, 1028px 511px #fff, 1161px 1431px #fff, 375px 17px #fff,
    1048px 1598px #fff, 420px 1110px #fff, 55px 186px #fff, 242px 133px #fff,
    1325px 1685px #fff, 200px 933px #fff, 819px 230px #fff, 999px 1564px #fff,
    70px 487px #fff, 328px 482px #fff, 985px 401px #fff, 1555px 1924px #fff,
    857px 144px #fff, 742px 515px #fff, 875px 1323px #fff, 444px 1452px #fff,
    610px 1336px #fff, 734px 427px #fff, 1610px 616px #fff, 1962px 205px #fff,
    388px 734px #fff, 1680px 1104px #fff, 1119px 1256px #fff, 1264px 1155px #fff,
    1305px 1187px #fff, 1082px 1825px #fff, 1255px 588px #fff, 110px 1021px #fff,
    1631px 49px #fff, 299px 1028px #fff, 906px 572px #fff, 465px 1853px #fff,
    202px 1847px #fff, 99px 765px #fff, 1054px 1718px #fff, 592px 935px #fff,
    53px 523px #fff, 601px 972px #fff, 963px 253px #fff, 31px 1999px #fff,
    1229px 264px #fff, 158px 75px #fff, 949px 1609px #fff, 1979px 1403px #fff,
    934px 1556px #fff, 10px 1821px #fff, 484px 341px #fff, 1070px 622px #fff,
    1834px 585px #fff, 131px 1337px #fff, 1854px 1849px #fff, 720px 54px #fff,
    268px 255px #fff, 1326px 573px #fff, 345px 691px #fff, 1522px 1930px #fff,
    775px 178px #fff, 1788px 471px #fff, 1062px 1507px #fff, 266px 465px #fff,
    1798px 1945px #fff, 1002px 1010px #fff, 723px 878px #fff, 932px 966px #fff,
    478px 1515px #fff, 1200px 896px #fff, 203px 1037px #fff, 444px 1605px #fff,
    1816px 110px #fff, 954px 673px #fff, 290px 1729px #fff, 429px 1036px #fff,
    1072px 1906px #fff, 875px 1247px #fff, 768px 1279px #fff, 1040px 650px #fff,
    1553px 105px #fff, 1630px 1366px #fff, 1842px 854px #fff, 1271px 1840px #fff,
    1959px 747px #fff, 662px 595px #fff, 520px 1131px #fff, 280px 646px #fff,
    910px 1143px #fff, 1030px 23px #fff, 236px 1289px #fff, 1499px 23px #fff,
    1869px 72px #fff, 722px 353px #fff, 700px 1099px #fff, 1726px 1686px #fff,
    459px 1810px #fff, 14px 313px #fff, 122px 649px #fff, 1657px 626px #fff,
    1975px 1119px #fff, 555px 1312px #fff, 387px 296px #fff, 1871px 860px #fff,
    897px 1158px #fff, 1853px 811px #fff, 1399px 983px #fff, 1328px 3px #fff,
    235px 1105px #fff, 295px 299px #fff, 1523px 1970px #fff, 1892px 751px #fff,
    1158px 1524px #fff, 261px 54px #fff, 713px 259px #fff, 279px 1600px #fff,
    1248px 538px #fff, 15px 287px #fff, 1082px 132px #fff, 465px 101px #fff,
    617px 737px #fff, 846px 178px #fff, 905px 616px #fff, 1645px 41px #fff,
    224px 1520px #fff, 31px 1947px #fff, 1173px 1905px #fff, 1559px 93px #fff,
    129px 551px #fff, 1058px 1548px #fff, 1163px 1627px #fff, 1979px 544px #fff,
    479px 1433px #fff, 436px 1808px #fff, 1254px 349px #fff, 866px 1920px #fff,
    1833px 1114px #fff, 808px 1731px #fff, 1490px 1164px #fff,
    1284px 1227px #fff, 1703px 1744px #fff, 201px 351px #fff, 616px 238px #fff,
    1896px 980px #fff, 1394px 577px #fff, 1966px 1452px #fff, 1589px 946px #fff,
    223px 810px #fff, 1259px 97px #fff, 835px 969px #fff, 1106px 1612px #fff,
    939px 253px #fff, 963px 174px #fff, 1104px 1761px #fff, 1938px 1722px #fff,
    1434px 247px #fff, 438px 1716px #fff, 1156px 1854px #fff, 624px 1988px #fff,
    1452px 188px #fff, 80px 419px #fff, 1624px 1348px #fff, 1677px 468px #fff,
    1587px 1429px #fff, 1951px 1668px #fff, 766px 933px #fff, 925px 208px #fff,
    1795px 1474px #fff, 791px 1315px #fff, 313px 254px #fff, 887px 363px #fff,
    1496px 1824px #fff, 279px 672px #fff, 1355px 1095px #fff, 468px 1199px #fff,
    828px 1852px #fff, 1513px 521px #fff, 1157px 26px #fff, 1671px 69px #fff,
    1428px 873px #fff, 1179px 740px #fff, 508px 1099px #fff, 1119px 529px #fff,
    1182px 1182px #fff, 1248px 1386px #fff, 956px 1693px #fff, 436px 142px #fff,
    458px 192px #fff, 35px 614px #fff, 481px 1121px #fff, 1414px 1960px #fff,
    973px 771px #fff, 1080px 661px #fff, 1889px 750px #fff, 721px 412px #fff,
    1201px 139px #fff, 1377px 1927px #fff, 1824px 1041px #fff,
    1891px 1309px #fff, 1351px 1484px #fff, 882px 318px #fff, 1794px 1137px #fff,
    483px 1892px #fff, 1011px 597px #fff, 1781px 126px #fff, 1388px 1266px #fff,
    1945px 1129px #fff, 435px 727px #fff, 565px 583px #fff, 1111px 1560px #fff,
    64px 1413px #fff, 712px 1227px #fff, 667px 740px #fff, 583px 566px #fff,
    830px 1841px #fff, 1123px 779px #fff, 1860px 321px #fff, 226px 1413px #fff,
    1210px 1946px #fff, 587px 712px #fff, 776px 882px #fff, 1607px 246px #fff,
    678px 681px #fff, 1323px 761px #fff, 1073px 785px #fff, 1945px 103px #fff,
    779px 445px #fff, 641px 821px #fff, 92px 1509px #fff, 1987px 1634px #fff,
    1815px 914px #fff, 1652px 207px #fff, 267px 657px #fff, 94px 988px #fff,
    522px 1236px #fff, 796px 821px #fff, 1012px 1474px #fff, 970px 159px #fff,
    1948px 1561px #fff, 913px 1810px #fff, 914px 1097px #fff, 962px 1616px #fff,
    827px 1124px #fff, 529px 74px #fff, 714px 354px #fff, 1051px 1904px #fff,
    1892px 573px #fff, 47px 1787px #fff, 1788px 278px #fff, 1937px 1568px #fff,
    714px 523px #fff, 1188px 65px #fff, 1523px 1763px #fff, 1658px 937px #fff,
    353px 514px #fff, 1454px 1999px #fff, 1495px 1918px #fff, 931px 1165px #fff,
    456px 1233px #fff, 1455px 1181px #fff, 608px 228px #fff, 106px 327px #fff,
    1926px 1978px #fff, 1089px 342px #fff, 921px 1996px #fff, 522px 678px #fff,
    702px 999px #fff, 480px 920px #fff, 67px 415px #fff, 1477px 1871px #fff,
    358px 376px #fff, 1925px 847px #fff, 453px 1306px #fff, 650px 1796px #fff,
    287px 1311px #fff, 1876px 555px #fff, 521px 1749px #fff, 1058px 391px #fff,
    1659px 380px #fff, 119px 1217px #fff, 1785px 562px #fff, 508px 56px #fff,
    1656px 1431px #fff, 1033px 1545px #fff, 1087px 165px #fff, 728px 1591px #fff,
    1091px 1006px #fff, 1088px 1568px #fff, 393px 958px #fff, 845px 1264px #fff,
    1772px 1185px #fff, 1387px 1320px #fff, 1900px 1890px #fff,
    469px 1865px #fff, 1804px 1100px #fff, 1811px 196px #fff;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 631px 1711px #fff, 1915px 1257px #fff, 1652px 722px #fff,
    70px 66px #fff, 1380px 857px #fff, 1929px 280px #fff, 589px 974px #fff,
    352px 705px #fff, 64px 61px #fff, 1186px 1478px #fff, 1682px 1897px #fff,
    1408px 401px #fff, 1522px 1083px #fff, 1785px 1728px #fff, 1615px 94px #fff,
    494px 1599px #fff, 83px 1472px #fff, 879px 1433px #fff, 103px 1010px #fff,
    837px 397px #fff, 1636px 1793px #fff, 654px 761px #fff, 298px 776px #fff,
    728px 1413px #fff, 874px 1544px #fff, 452px 1496px #fff, 851px 583px #fff,
    725px 385px #fff, 1908px 666px #fff, 888px 943px #fff, 1867px 1118px #fff,
    1691px 49px #fff, 645px 713px #fff, 1103px 1752px #fff, 977px 225px #fff,
    1016px 1940px #fff, 617px 470px #fff, 1050px 876px #fff, 1074px 464px #fff,
    64px 597px #fff, 1741px 1127px #fff, 1697px 1744px #fff, 410px 1161px #fff,
    1888px 905px #fff, 844px 186px #fff, 909px 1786px #fff, 323px 1046px #fff,
    1944px 1815px #fff, 289px 598px #fff, 412px 795px #fff, 1645px 1946px #fff,
    181px 251px #fff, 1150px 732px #fff, 1454px 737px #fff, 180px 869px #fff,
    1926px 1040px #fff, 843px 961px #fff, 1771px 1930px #fff, 1383px 1494px #fff,
    1015px 1298px #fff, 1654px 905px #fff, 884px 187px #fff, 764px 1935px #fff,
    1865px 1089px #fff, 1460px 1468px #fff, 379px 459px #fff, 1189px 387px #fff,
    814px 1455px #fff, 1480px 1807px #fff, 1327px 23px #fff, 611px 713px #fff,
    1051px 1687px #fff, 633px 256px #fff, 287px 1464px #fff, 1786px 1893px #fff,
    1059px 298px #fff, 105px 1615px #fff, 1703px 1357px #fff, 1294px 1830px #fff,
    1700px 1468px #fff, 1193px 953px #fff, 1389px 386px #fff, 749px 197px #fff,
    1614px 1823px #fff, 662px 329px #fff, 422px 884px #fff, 1977px 199px #fff,
    1827px 278px #fff, 571px 779px #fff, 873px 1009px #fff, 890px 1350px #fff,
    898px 1299px #fff, 575px 1411px #fff, 410px 421px #fff, 455px 1659px #fff,
    920px 954px #fff, 1322px 1500px #fff, 1292px 956px #fff, 1372px 496px #fff,
    1415px 769px #fff, 1928px 1844px #fff, 1678px 1003px #fff, 669px 630px #fff,
    395px 527px #fff, 1175px 1490px #fff, 791px 1095px #fff, 879px 1904px #fff,
    1200px 113px #fff, 1312px 1899px #fff, 1067px 1286px #fff, 1065px 601px #fff,
    1819px 440px #fff, 699px 171px #fff, 1802px 1392px #fff, 1998px 887px #fff,
    1539px 1601px #fff, 1388px 1488px #fff, 260px 1775px #fff,
    1935px 1412px #fff, 1968px 1147px #fff, 398px 821px #fff, 105px 8px #fff,
    1671px 1305px #fff, 1267px 1370px #fff, 1064px 1097px #fff,
    348px 1934px #fff, 1732px 882px #fff, 734px 1998px #fff, 542px 1164px #fff,
    777px 636px #fff, 548px 1268px #fff, 1373px 1924px #fff, 1905px 109px #fff,
    1654px 450px #fff, 1711px 1700px #fff, 1078px 46px #fff, 454px 1757px #fff,
    399px 1726px #fff, 1421px 905px #fff, 1600px 91px #fff, 1064px 623px #fff,
    1599px 218px #fff, 1667px 1316px #fff, 1387px 665px #fff, 1718px 1589px #fff,
    534px 1492px #fff, 343px 1051px #fff, 114px 1912px #fff, 874px 1844px #fff,
    1173px 642px #fff, 1926px 670px #fff, 392px 1057px #fff, 1685px 2px #fff,
    537px 1370px #fff, 1386px 895px #fff, 1470px 1617px #fff, 947px 804px #fff,
    16px 1777px #fff, 1874px 1339px #fff, 1847px 1761px #fff, 1451px 1246px #fff,
    1449px 419px #fff, 258px 1589px #fff, 601px 128px #fff, 1050px 545px #fff,
    236px 955px #fff, 212px 176px #fff, 1370px 266px #fff, 1114px 333px #fff,
    1119px 1297px #fff, 751px 467px #fff, 1698px 1508px #fff, 1515px 226px #fff,
    1418px 551px #fff, 1754px 1380px #fff, 804px 69px #fff, 388px 1759px #fff,
    1108px 1184px #fff, 1302px 1072px #fff, 1577px 1650px #fff,
    762px 1142px #fff, 1200px 448px #fff, 866px 4px #fff, 314px 1785px #fff,
    281px 1913px #fff, 1832px 1089px #fff, 1331px 1512px #fff, 632px 635px #fff,
    446px 777px #fff, 569px 11px #fff, 1157px 1146px #fff, 1246px 440px #fff,
    1482px 73px #fff, 1200px 1863px #fff, 509px 828px #fff, 1121px 1087px #fff,
    29px 823px #fff, 719px 304px #fff, 212px 367px #fff, 1306px 304px #fff,
    1278px 482px #fff, 507px 1786px #fff, 1793px 1875px #fff, 235px 1401px #fff,
    185px 506px #fff, 1084px 1891px #fff, 706px 710px #fff, 1441px 1226px #fff,
    837px 1002px #fff, 325px 489px #fff, 45px 1592px #fff, 1363px 1905px #fff,
    755px 904px #fff, 755px 367px #fff, 1116px 637px #fff, 1797px 1552px #fff,
    890px 1176px #fff, 1509px 57px #fff, 1632px 364px #fff, 801px 735px #fff,
    266px 1862px #fff, 1295px 1499px #fff, 349px 1830px #fff, 1988px 1321px #fff,
    1100px 23px #fff, 906px 693px #fff, 1125px 1450px #fff, 1714px 694px #fff,
    216px 1480px #fff, 698px 1801px #fff, 376px 326px #fff, 191px 1154px #fff,
    146px 1524px #fff, 389px 28px #fff, 1596px 1773px #fff, 377px 357px #fff,
    979px 262px #fff, 1596px 685px #fff, 1129px 1803px #fff, 886px 1898px #fff,
    489px 885px #fff, 621px 1935px #fff, 329px 1913px #fff, 1215px 199px #fff,
    325px 218px #fff, 1848px 259px #fff, 487px 1357px #fff, 713px 1195px #fff,
    61px 417px #fff, 1656px 255px #fff, 782px 1356px #fff, 907px 1244px #fff,
    199px 1325px #fff, 157px 1710px #fff, 610px 793px #fff, 1468px 332px #fff,
    93px 384px #fff, 925px 918px #fff, 507px 1229px #fff, 778px 171px #fff,
    1966px 1484px #fff, 1656px 200px #fff, 175px 68px #fff, 1801px 1403px #fff,
    1203px 335px #fff, 1511px 1147px #fff, 1368px 1649px #fff, 134px 67px #fff,
    1693px 1803px #fff, 1947px 1679px #fff, 780px 1907px #fff, 1443px 745px #fff,
    913px 1296px #fff, 1157px 1477px #fff, 96px 1094px #fff, 1582px 780px #fff,
    490px 1469px #fff, 1683px 654px #fff, 841px 371px #fff, 1385px 1559px #fff,
    1648px 513px #fff, 461px 1752px #fff, 587px 576px #fff, 941px 527px #fff,
    1922px 321px #fff, 1462px 971px #fff, 1350px 103px #fff, 805px 193px #fff,
    811px 1119px #fff, 1336px 247px #fff, 503px 378px #fff, 653px 508px #fff,
    885px 135px #fff, 324px 532px #fff, 851px 222px #fff, 923px 1533px #fff,
    722px 1733px #fff, 1566px 1007px #fff, 601px 1435px #fff, 592px 1220px #fff,
    1609px 1219px #fff, 1756px 641px #fff, 1775px 163px #fff, 388px 289px #fff,
    281px 424px #fff, 1703px 1467px #fff, 1790px 626px #fff, 956px 713px #fff,
    529px 356px #fff, 1349px 1741px #fff, 228px 820px #fff, 514px 1187px #fff,
    1584px 1518px #fff, 187px 678px #fff, 1309px 1984px #fff, 218px 1515px #fff,
    1192px 1980px #fff, 752px 1684px #fff, 1609px 1088px #fff, 499px 572px #fff,
    464px 691px #fff, 467px 877px #fff, 802px 1512px #fff, 1837px 989px #fff,
    53px 1455px #fff, 943px 151px #fff, 850px 1878px #fff, 1626px 1918px #fff,
    1312px 330px #fff, 1716px 160px #fff, 16px 1617px #fff, 189px 692px #fff,
    1985px 1647px #fff, 629px 17px #fff, 1911px 1874px #fff, 1097px 252px #fff,
    663px 1434px #fff, 1987px 144px #fff, 71px 982px #fff, 1319px 1109px #fff,
    871px 274px #fff, 380px 1055px #fff, 1414px 1856px #fff, 117px 127px #fff,
    192px 1164px #fff, 1725px 765px #fff, 856px 1800px #fff, 797px 1461px #fff,
    541px 939px #fff, 433px 1169px #fff, 252px 183px #fff, 77px 645px #fff,
    1566px 326px #fff, 1040px 1237px #fff, 1394px 625px #fff, 369px 318px #fff,
    781px 124px #fff, 1646px 167px #fff, 477px 1543px #fff, 438px 1946px #fff,
    1845px 1731px #fff, 1700px 1616px #fff, 36px 1039px #fff, 1119px 463px #fff,
    1737px 1394px #fff, 1791px 913px #fff, 409px 51px #fff, 1161px 1605px #fff,
    1634px 568px #fff, 1511px 776px #fff, 1362px 1308px #fff, 359px 460px #fff,
    1583px 1854px #fff, 1768px 1606px #fff, 873px 885px #fff, 224px 683px #fff,
    1145px 362px #fff, 71px 1591px #fff, 1881px 449px #fff, 1661px 364px #fff,
    264px 1803px #fff, 117px 570px #fff, 1861px 954px #fff, 104px 979px #fff,
    301px 379px #fff, 715px 1797px #fff, 900px 570px #fff, 1700px 1665px #fff,
    288px 844px #fff, 709px 544px #fff, 635px 1302px #fff, 952px 347px #fff,
    1840px 980px #fff, 759px 549px #fff, 1399px 710px #fff, 1991px 1265px #fff,
    1851px 319px #fff, 840px 13px #fff, 1732px 1973px #fff, 860px 1916px #fff,
    1px 749px #fff, 729px 1538px #fff, 1063px 450px #fff, 825px 1128px #fff,
    1702px 1694px #fff, 1028px 511px #fff, 1161px 1431px #fff, 375px 17px #fff,
    1048px 1598px #fff, 420px 1110px #fff, 55px 186px #fff, 242px 133px #fff,
    1325px 1685px #fff, 200px 933px #fff, 819px 230px #fff, 999px 1564px #fff,
    70px 487px #fff, 328px 482px #fff, 985px 401px #fff, 1555px 1924px #fff,
    857px 144px #fff, 742px 515px #fff, 875px 1323px #fff, 444px 1452px #fff,
    610px 1336px #fff, 734px 427px #fff, 1610px 616px #fff, 1962px 205px #fff,
    388px 734px #fff, 1680px 1104px #fff, 1119px 1256px #fff, 1264px 1155px #fff,
    1305px 1187px #fff, 1082px 1825px #fff, 1255px 588px #fff, 110px 1021px #fff,
    1631px 49px #fff, 299px 1028px #fff, 906px 572px #fff, 465px 1853px #fff,
    202px 1847px #fff, 99px 765px #fff, 1054px 1718px #fff, 592px 935px #fff,
    53px 523px #fff, 601px 972px #fff, 963px 253px #fff, 31px 1999px #fff,
    1229px 264px #fff, 158px 75px #fff, 949px 1609px #fff, 1979px 1403px #fff,
    934px 1556px #fff, 10px 1821px #fff, 484px 341px #fff, 1070px 622px #fff,
    1834px 585px #fff, 131px 1337px #fff, 1854px 1849px #fff, 720px 54px #fff,
    268px 255px #fff, 1326px 573px #fff, 345px 691px #fff, 1522px 1930px #fff,
    775px 178px #fff, 1788px 471px #fff, 1062px 1507px #fff, 266px 465px #fff,
    1798px 1945px #fff, 1002px 1010px #fff, 723px 878px #fff, 932px 966px #fff,
    478px 1515px #fff, 1200px 896px #fff, 203px 1037px #fff, 444px 1605px #fff,
    1816px 110px #fff, 954px 673px #fff, 290px 1729px #fff, 429px 1036px #fff,
    1072px 1906px #fff, 875px 1247px #fff, 768px 1279px #fff, 1040px 650px #fff,
    1553px 105px #fff, 1630px 1366px #fff, 1842px 854px #fff, 1271px 1840px #fff,
    1959px 747px #fff, 662px 595px #fff, 520px 1131px #fff, 280px 646px #fff,
    910px 1143px #fff, 1030px 23px #fff, 236px 1289px #fff, 1499px 23px #fff,
    1869px 72px #fff, 722px 353px #fff, 700px 1099px #fff, 1726px 1686px #fff,
    459px 1810px #fff, 14px 313px #fff, 122px 649px #fff, 1657px 626px #fff,
    1975px 1119px #fff, 555px 1312px #fff, 387px 296px #fff, 1871px 860px #fff,
    897px 1158px #fff, 1853px 811px #fff, 1399px 983px #fff, 1328px 3px #fff,
    235px 1105px #fff, 295px 299px #fff, 1523px 1970px #fff, 1892px 751px #fff,
    1158px 1524px #fff, 261px 54px #fff, 713px 259px #fff, 279px 1600px #fff,
    1248px 538px #fff, 15px 287px #fff, 1082px 132px #fff, 465px 101px #fff,
    617px 737px #fff, 846px 178px #fff, 905px 616px #fff, 1645px 41px #fff,
    224px 1520px #fff, 31px 1947px #fff, 1173px 1905px #fff, 1559px 93px #fff,
    129px 551px #fff, 1058px 1548px #fff, 1163px 1627px #fff, 1979px 544px #fff,
    479px 1433px #fff, 436px 1808px #fff, 1254px 349px #fff, 866px 1920px #fff,
    1833px 1114px #fff, 808px 1731px #fff, 1490px 1164px #fff,
    1284px 1227px #fff, 1703px 1744px #fff, 201px 351px #fff, 616px 238px #fff,
    1896px 980px #fff, 1394px 577px #fff, 1966px 1452px #fff, 1589px 946px #fff,
    223px 810px #fff, 1259px 97px #fff, 835px 969px #fff, 1106px 1612px #fff,
    939px 253px #fff, 963px 174px #fff, 1104px 1761px #fff, 1938px 1722px #fff,
    1434px 247px #fff, 438px 1716px #fff, 1156px 1854px #fff, 624px 1988px #fff,
    1452px 188px #fff, 80px 419px #fff, 1624px 1348px #fff, 1677px 468px #fff,
    1587px 1429px #fff, 1951px 1668px #fff, 766px 933px #fff, 925px 208px #fff,
    1795px 1474px #fff, 791px 1315px #fff, 313px 254px #fff, 887px 363px #fff,
    1496px 1824px #fff, 279px 672px #fff, 1355px 1095px #fff, 468px 1199px #fff,
    828px 1852px #fff, 1513px 521px #fff, 1157px 26px #fff, 1671px 69px #fff,
    1428px 873px #fff, 1179px 740px #fff, 508px 1099px #fff, 1119px 529px #fff,
    1182px 1182px #fff, 1248px 1386px #fff, 956px 1693px #fff, 436px 142px #fff,
    458px 192px #fff, 35px 614px #fff, 481px 1121px #fff, 1414px 1960px #fff,
    973px 771px #fff, 1080px 661px #fff, 1889px 750px #fff, 721px 412px #fff,
    1201px 139px #fff, 1377px 1927px #fff, 1824px 1041px #fff,
    1891px 1309px #fff, 1351px 1484px #fff, 882px 318px #fff, 1794px 1137px #fff,
    483px 1892px #fff, 1011px 597px #fff, 1781px 126px #fff, 1388px 1266px #fff,
    1945px 1129px #fff, 435px 727px #fff, 565px 583px #fff, 1111px 1560px #fff,
    64px 1413px #fff, 712px 1227px #fff, 667px 740px #fff, 583px 566px #fff,
    830px 1841px #fff, 1123px 779px #fff, 1860px 321px #fff, 226px 1413px #fff,
    1210px 1946px #fff, 587px 712px #fff, 776px 882px #fff, 1607px 246px #fff,
    678px 681px #fff, 1323px 761px #fff, 1073px 785px #fff, 1945px 103px #fff,
    779px 445px #fff, 641px 821px #fff, 92px 1509px #fff, 1987px 1634px #fff,
    1815px 914px #fff, 1652px 207px #fff, 267px 657px #fff, 94px 988px #fff,
    522px 1236px #fff, 796px 821px #fff, 1012px 1474px #fff, 970px 159px #fff,
    1948px 1561px #fff, 913px 1810px #fff, 914px 1097px #fff, 962px 1616px #fff,
    827px 1124px #fff, 529px 74px #fff, 714px 354px #fff, 1051px 1904px #fff,
    1892px 573px #fff, 47px 1787px #fff, 1788px 278px #fff, 1937px 1568px #fff,
    714px 523px #fff, 1188px 65px #fff, 1523px 1763px #fff, 1658px 937px #fff,
    353px 514px #fff, 1454px 1999px #fff, 1495px 1918px #fff, 931px 1165px #fff,
    456px 1233px #fff, 1455px 1181px #fff, 608px 228px #fff, 106px 327px #fff,
    1926px 1978px #fff, 1089px 342px #fff, 921px 1996px #fff, 522px 678px #fff,
    702px 999px #fff, 480px 920px #fff, 67px 415px #fff, 1477px 1871px #fff,
    358px 376px #fff, 1925px 847px #fff, 453px 1306px #fff, 650px 1796px #fff,
    287px 1311px #fff, 1876px 555px #fff, 521px 1749px #fff, 1058px 391px #fff,
    1659px 380px #fff, 119px 1217px #fff, 1785px 562px #fff, 508px 56px #fff,
    1656px 1431px #fff, 1033px 1545px #fff, 1087px 165px #fff, 728px 1591px #fff,
    1091px 1006px #fff, 1088px 1568px #fff, 393px 958px #fff, 845px 1264px #fff,
    1772px 1185px #fff, 1387px 1320px #fff, 1900px 1890px #fff,
    469px 1865px #fff, 1804px 1100px #fff, 1811px 196px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 523px 551px #fff, 1288px 755px #fff, 846px 12px #fff,
    1575px 693px #fff, 195px 1072px #fff, 449px 669px #fff, 433px 1521px #fff,
    125px 454px #fff, 1181px 819px #fff, 414px 486px #fff, 552px 884px #fff,
    386px 1986px #fff, 446px 1457px #fff, 984px 803px #fff, 962px 603px #fff,
    1213px 1081px #fff, 1182px 820px #fff, 854px 971px #fff, 1457px 1680px #fff,
    474px 1043px #fff, 461px 1730px #fff, 1818px 64px #fff, 869px 707px #fff,
    1065px 182px #fff, 809px 408px #fff, 1116px 54px #fff, 21px 1622px #fff,
    542px 1999px #fff, 168px 429px #fff, 817px 108px #fff, 593px 1152px #fff,
    1783px 1724px #fff, 616px 447px #fff, 1947px 1496px #fff, 302px 306px #fff,
    1751px 630px #fff, 1763px 480px #fff, 1838px 225px #fff, 610px 662px #fff,
    1755px 488px #fff, 1634px 1446px #fff, 220px 245px #fff, 1549px 1890px #fff,
    1358px 1271px #fff, 1812px 1338px #fff, 1795px 1915px #fff, 369px 173px #fff,
    1301px 1719px #fff, 1817px 154px #fff, 1663px 1269px #fff,
    1883px 1318px #fff, 1246px 724px #fff, 1741px 506px #fff, 211px 1570px #fff,
    1684px 424px #fff, 697px 1054px #fff, 428px 500px #fff, 58px 773px #fff,
    436px 1719px #fff, 1691px 1067px #fff, 50px 833px #fff, 837px 1333px #fff,
    688px 1878px #fff, 972px 1318px #fff, 748px 1368px #fff, 896px 889px #fff,
    1658px 1099px #fff, 834px 288px #fff, 526px 883px #fff, 1639px 786px #fff,
    1114px 1506px #fff, 1945px 1803px #fff, 735px 807px #fff, 1522px 661px #fff,
    457px 560px #fff, 1294px 1274px #fff, 1846px 267px #fff, 1118px 661px #fff,
    1728px 1222px #fff, 98px 902px #fff, 1167px 1482px #fff, 1422px 1681px #fff,
    1016px 706px #fff, 1528px 691px #fff, 670px 951px #fff, 1706px 1942px #fff,
    812px 257px #fff, 115px 1943px #fff, 1059px 1897px #fff, 1905px 111px #fff,
    1178px 1821px #fff, 1657px 1302px #fff, 506px 57px #fff, 1771px 1624px #fff,
    196px 50px #fff, 1664px 1294px #fff, 631px 1925px #fff, 70px 852px #fff,
    1779px 1657px #fff, 1018px 975px #fff, 1001px 1914px #fff, 1944px 614px #fff,
    1264px 1887px #fff, 525px 1102px #fff, 1725px 670px #fff, 418px 1849px #fff,
    594px 1352px #fff, 1793px 1135px #fff, 845px 1750px #fff, 1276px 1084px #fff,
    1601px 1124px #fff, 1124px 1120px #fff, 196px 970px #fff, 1232px 1271px #fff,
    82px 1198px #fff, 143px 1077px #fff, 1710px 1543px #fff, 244px 434px #fff,
    129px 405px #fff, 1245px 495px #fff, 1302px 923px #fff, 199px 373px #fff,
    621px 659px #fff, 242px 1040px #fff, 1717px 183px #fff, 19px 1294px #fff,
    1785px 1911px #fff, 1376px 454px #fff, 621px 173px #fff, 1069px 1256px #fff,
    909px 1393px #fff, 1860px 1121px #fff, 724px 1047px #fff, 1703px 1614px #fff,
    593px 1953px #fff, 545px 664px #fff, 15px 684px #fff, 9px 1618px #fff,
    1280px 610px #fff, 88px 1625px #fff, 1202px 210px #fff, 981px 619px #fff,
    1961px 631px #fff, 89px 538px #fff, 836px 573px #fff, 651px 315px #fff,
    322px 1311px #fff, 651px 201px #fff, 1847px 1190px #fff, 376px 618px #fff,
    1731px 1004px #fff, 747px 235px #fff, 222px 155px #fff, 1297px 847px #fff,
    1658px 1426px #fff, 1069px 412px #fff, 144px 1852px #fff, 1159px 1309px #fff,
    196px 573px #fff, 1642px 1444px #fff, 1766px 1079px #fff, 1576px 747px #fff,
    1703px 1029px #fff, 853px 1083px #fff, 446px 96px #fff, 214px 210px #fff,
    1142px 1196px #fff, 229px 1430px #fff, 1935px 492px #fff, 1282px 1601px #fff,
    1179px 430px #fff, 622px 542px #fff, 1192px 708px #fff, 1006px 597px #fff,
    1587px 1332px #fff, 1153px 198px #fff, 13px 480px #fff, 475px 1824px #fff,
    1816px 1599px #fff, 1377px 860px #fff, 818px 66px #fff, 751px 64px #fff,
    186px 1785px #fff, 1085px 380px #fff, 167px 1297px #fff, 548px 463px #fff,
    27px 961px #fff, 683px 1220px #fff, 1894px 1366px #fff, 107px 1578px #fff,
    662px 730px #fff, 1059px 80px #fff, 334px 121px #fff, 884px 937px #fff,
    1637px 759px #fff, 673px 1065px #fff, 966px 1389px #fff, 1001px 1192px #fff,
    1219px 1172px #fff, 499px 380px #fff;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 523px 551px #fff, 1288px 755px #fff, 846px 12px #fff,
    1575px 693px #fff, 195px 1072px #fff, 449px 669px #fff, 433px 1521px #fff,
    125px 454px #fff, 1181px 819px #fff, 414px 486px #fff, 552px 884px #fff,
    386px 1986px #fff, 446px 1457px #fff, 984px 803px #fff, 962px 603px #fff,
    1213px 1081px #fff, 1182px 820px #fff, 854px 971px #fff, 1457px 1680px #fff,
    474px 1043px #fff, 461px 1730px #fff, 1818px 64px #fff, 869px 707px #fff,
    1065px 182px #fff, 809px 408px #fff, 1116px 54px #fff, 21px 1622px #fff,
    542px 1999px #fff, 168px 429px #fff, 817px 108px #fff, 593px 1152px #fff,
    1783px 1724px #fff, 616px 447px #fff, 1947px 1496px #fff, 302px 306px #fff,
    1751px 630px #fff, 1763px 480px #fff, 1838px 225px #fff, 610px 662px #fff,
    1755px 488px #fff, 1634px 1446px #fff, 220px 245px #fff, 1549px 1890px #fff,
    1358px 1271px #fff, 1812px 1338px #fff, 1795px 1915px #fff, 369px 173px #fff,
    1301px 1719px #fff, 1817px 154px #fff, 1663px 1269px #fff,
    1883px 1318px #fff, 1246px 724px #fff, 1741px 506px #fff, 211px 1570px #fff,
    1684px 424px #fff, 697px 1054px #fff, 428px 500px #fff, 58px 773px #fff,
    436px 1719px #fff, 1691px 1067px #fff, 50px 833px #fff, 837px 1333px #fff,
    688px 1878px #fff, 972px 1318px #fff, 748px 1368px #fff, 896px 889px #fff,
    1658px 1099px #fff, 834px 288px #fff, 526px 883px #fff, 1639px 786px #fff,
    1114px 1506px #fff, 1945px 1803px #fff, 735px 807px #fff, 1522px 661px #fff,
    457px 560px #fff, 1294px 1274px #fff, 1846px 267px #fff, 1118px 661px #fff,
    1728px 1222px #fff, 98px 902px #fff, 1167px 1482px #fff, 1422px 1681px #fff,
    1016px 706px #fff, 1528px 691px #fff, 670px 951px #fff, 1706px 1942px #fff,
    812px 257px #fff, 115px 1943px #fff, 1059px 1897px #fff, 1905px 111px #fff,
    1178px 1821px #fff, 1657px 1302px #fff, 506px 57px #fff, 1771px 1624px #fff,
    196px 50px #fff, 1664px 1294px #fff, 631px 1925px #fff, 70px 852px #fff,
    1779px 1657px #fff, 1018px 975px #fff, 1001px 1914px #fff, 1944px 614px #fff,
    1264px 1887px #fff, 525px 1102px #fff, 1725px 670px #fff, 418px 1849px #fff,
    594px 1352px #fff, 1793px 1135px #fff, 845px 1750px #fff, 1276px 1084px #fff,
    1601px 1124px #fff, 1124px 1120px #fff, 196px 970px #fff, 1232px 1271px #fff,
    82px 1198px #fff, 143px 1077px #fff, 1710px 1543px #fff, 244px 434px #fff,
    129px 405px #fff, 1245px 495px #fff, 1302px 923px #fff, 199px 373px #fff,
    621px 659px #fff, 242px 1040px #fff, 1717px 183px #fff, 19px 1294px #fff,
    1785px 1911px #fff, 1376px 454px #fff, 621px 173px #fff, 1069px 1256px #fff,
    909px 1393px #fff, 1860px 1121px #fff, 724px 1047px #fff, 1703px 1614px #fff,
    593px 1953px #fff, 545px 664px #fff, 15px 684px #fff, 9px 1618px #fff,
    1280px 610px #fff, 88px 1625px #fff, 1202px 210px #fff, 981px 619px #fff,
    1961px 631px #fff, 89px 538px #fff, 836px 573px #fff, 651px 315px #fff,
    322px 1311px #fff, 651px 201px #fff, 1847px 1190px #fff, 376px 618px #fff,
    1731px 1004px #fff, 747px 235px #fff, 222px 155px #fff, 1297px 847px #fff,
    1658px 1426px #fff, 1069px 412px #fff, 144px 1852px #fff, 1159px 1309px #fff,
    196px 573px #fff, 1642px 1444px #fff, 1766px 1079px #fff, 1576px 747px #fff,
    1703px 1029px #fff, 853px 1083px #fff, 446px 96px #fff, 214px 210px #fff,
    1142px 1196px #fff, 229px 1430px #fff, 1935px 492px #fff, 1282px 1601px #fff,
    1179px 430px #fff, 622px 542px #fff, 1192px 708px #fff, 1006px 597px #fff,
    1587px 1332px #fff, 1153px 198px #fff, 13px 480px #fff, 475px 1824px #fff,
    1816px 1599px #fff, 1377px 860px #fff, 818px 66px #fff, 751px 64px #fff,
    186px 1785px #fff, 1085px 380px #fff, 167px 1297px #fff, 548px 463px #fff,
    27px 961px #fff, 683px 1220px #fff, 1894px 1366px #fff, 107px 1578px #fff,
    662px 730px #fff, 1059px 80px #fff, 334px 121px #fff, 884px 937px #fff,
    1637px 759px #fff, 673px 1065px #fff, 966px 1389px #fff, 1001px 1192px #fff,
    1219px 1172px #fff, 499px 380px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1982px 637px #fff, 1915px 1971px #fff, 1199px 627px #fff,
    1324px 84px #fff, 781px 965px #fff, 1970px 32px #fff, 1838px 1843px #fff,
    1405px 844px #fff, 214px 773px #fff, 1414px 1354px #fff, 636px 338px #fff,
    211px 1039px #fff, 1619px 161px #fff, 1229px 1523px #fff, 1945px 1471px #fff,
    1181px 232px #fff, 769px 636px #fff, 21px 1144px #fff, 1438px 1057px #fff,
    160px 655px #fff, 931px 536px #fff, 774px 1678px #fff, 752px 990px #fff,
    1799px 675px #fff, 1862px 164px #fff, 861px 1061px #fff, 1362px 1406px #fff,
    831px 1461px #fff, 1304px 934px #fff, 1806px 981px #fff, 1313px 1289px #fff,
    1324px 1633px #fff, 1222px 630px #fff, 1839px 579px #fff, 1437px 227px #fff,
    1140px 145px #fff, 753px 260px #fff, 950px 1915px #fff, 381px 1035px #fff,
    1380px 1405px #fff, 1622px 735px #fff, 1058px 1591px #fff, 135px 1394px #fff,
    1863px 397px #fff, 1367px 1601px #fff, 103px 275px #fff, 830px 924px #fff,
    677px 1340px #fff, 271px 370px #fff, 364px 1099px #fff, 712px 1212px #fff,
    1345px 1536px #fff, 158px 1409px #fff, 608px 1295px #fff, 1507px 1316px #fff,
    676px 1380px #fff, 149px 1536px #fff, 51px 1027px #fff, 1384px 293px #fff,
    1805px 957px #fff, 825px 1808px #fff, 1656px 458px #fff, 214px 579px #fff,
    1435px 1628px #fff, 903px 803px #fff, 1700px 1360px #fff, 1737px 707px #fff,
    242px 788px #fff, 1645px 1422px #fff, 48px 1634px #fff, 1809px 1042px #fff,
    1565px 472px #fff, 1405px 1211px #fff, 210px 815px #fff, 1431px 62px #fff,
    441px 1441px #fff, 155px 393px #fff, 630px 1653px #fff, 634px 1185px #fff,
    1833px 1264px #fff, 179px 675px #fff, 1957px 1476px #fff, 1443px 1646px #fff,
    780px 1155px #fff, 1270px 67px #fff, 894px 1154px #fff, 1992px 402px #fff,
    1256px 1159px #fff, 1319px 1668px #fff, 715px 421px #fff, 1260px 500px #fff,
    1955px 1184px #fff, 1015px 385px #fff, 336px 1387px #fff, 863px 1427px #fff,
    665px 1619px #fff, 790px 420px #fff, 1633px 154px #fff, 559px 1346px #fff,
    1310px 95px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1982px 637px #fff, 1915px 1971px #fff, 1199px 627px #fff,
    1324px 84px #fff, 781px 965px #fff, 1970px 32px #fff, 1838px 1843px #fff,
    1405px 844px #fff, 214px 773px #fff, 1414px 1354px #fff, 636px 338px #fff,
    211px 1039px #fff, 1619px 161px #fff, 1229px 1523px #fff, 1945px 1471px #fff,
    1181px 232px #fff, 769px 636px #fff, 21px 1144px #fff, 1438px 1057px #fff,
    160px 655px #fff, 931px 536px #fff, 774px 1678px #fff, 752px 990px #fff,
    1799px 675px #fff, 1862px 164px #fff, 861px 1061px #fff, 1362px 1406px #fff,
    831px 1461px #fff, 1304px 934px #fff, 1806px 981px #fff, 1313px 1289px #fff,
    1324px 1633px #fff, 1222px 630px #fff, 1839px 579px #fff, 1437px 227px #fff,
    1140px 145px #fff, 753px 260px #fff, 950px 1915px #fff, 381px 1035px #fff,
    1380px 1405px #fff, 1622px 735px #fff, 1058px 1591px #fff, 135px 1394px #fff,
    1863px 397px #fff, 1367px 1601px #fff, 103px 275px #fff, 830px 924px #fff,
    677px 1340px #fff, 271px 370px #fff, 364px 1099px #fff, 712px 1212px #fff,
    1345px 1536px #fff, 158px 1409px #fff, 608px 1295px #fff, 1507px 1316px #fff,
    676px 1380px #fff, 149px 1536px #fff, 51px 1027px #fff, 1384px 293px #fff,
    1805px 957px #fff, 825px 1808px #fff, 1656px 458px #fff, 214px 579px #fff,
    1435px 1628px #fff, 903px 803px #fff, 1700px 1360px #fff, 1737px 707px #fff,
    242px 788px #fff, 1645px 1422px #fff, 48px 1634px #fff, 1809px 1042px #fff,
    1565px 472px #fff, 1405px 1211px #fff, 210px 815px #fff, 1431px 62px #fff,
    441px 1441px #fff, 155px 393px #fff, 630px 1653px #fff, 634px 1185px #fff,
    1833px 1264px #fff, 179px 675px #fff, 1957px 1476px #fff, 1443px 1646px #fff,
    780px 1155px #fff, 1270px 67px #fff, 894px 1154px #fff, 1992px 402px #fff,
    1256px 1159px #fff, 1319px 1668px #fff, 715px 421px #fff, 1260px 500px #fff,
    1955px 1184px #fff, 1015px 385px #fff, 336px 1387px #fff, 863px 1427px #fff,
    665px 1619px #fff, 790px 420px #fff, 1633px 154px #fff, 559px 1346px #fff,
    1310px 95px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

/*properties*/

span.heading {
  position: absolute;
  width: 0;
  height: 0;
}

@property --a {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --b {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --c {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HOME*/

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

span.heading {
  transform: translateY(-15vh);
}

span.heading#res {
  transform: translateY(-10vh);
}

nav {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  background-size: 100vw 100vh;
}

div.small {
  display: flex;
  justify-content: space-between;
}

img.wiss {
  position: fixed;
  top: 0.5rem;
  left: 3vw;
  height: 5rem;
  width: auto;
}

.bars {
  position: fixed;
  top: 2rem;
  right: 5%;
  height: 0.32rem;
  width: min(40px, 8vw);
  background-color: white;
  border-radius: 40px;
  transition: all 0.1s;
}

.bars::after {
  content: " ";
  position: fixed;
  top: 2.7rem;
  right: 5%;
  height: 0.32rem;
  width: min(40px, 8vw);
  border-radius: 40px;
  background-color: white;
}

.bars::before {
  content: " ";
  position: fixed;
  top: 3.4rem;
  right: 5%;
  height: 0.32rem;
  width: min(40px, 8vw);
  border-radius: 10px;
  background-color: white;
}

.xmark {
  position: fixed;
  top: 4vh;
  right: 5%;
  height: 0.6vh;
  width: min(50px, 7vw);
  background-color: white;
  rotate: Z 45deg;
  border-radius: 40px;
  transition: all 0.1s;
}

.xmark::after {
  content: "";
  position: fixed;
  top: 1.8vh;
  right: 5%;
  height: 0.6vh;
  width: min(50px, 7vw);
  background-color: white;
  transform: rotateZ(-90deg) translateX(max(1.2vw, 1.7vh)) translateY(0);
  border-radius: 40px;
}

ul.navs {
  display: flex;
}

li.nav-item {
  list-style: none;
}

a.navs {
  font-family: "Roboto";
  color: white;
}

a {
  text-decoration: none;
}

img.wissenaire {
  position: relative;
  height: 6rem;
}

button {
  border: 0ch;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

div.ca {
  display: flex;
  float: left;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}

div.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.catxt {
  margin-bottom: 2%;
  color: #ffffff;
  font-family: "istok";
}

div.wiss {
  font-family: "Roboto-m";
  color: #000000;
  display: flex;
  background: -webkit-linear-gradient(white, #38495a),
    linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex: 0;
}

img.caimg {
  height: fit-content;
  filter: drop-shadow(-5px 5px 5px #5d616b);
}

.home {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
  background-size: cover max(100vh);
  height: max(100vh);
}

button.signup {
  position: relative;
  background: linear-gradient(to right, #38495a, #3e77bca5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 2vh;
  padding: 1.25px 25px;
  border-radius: 200px;
}

.signup:hover .arrow {
  animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

a#signup {
  justify-self: center;
  color: white;
  text-align: start;
  font-family: "libre";
  transform: translateX(10px);
}

/*ABOUT*/

#about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1vh 0;
}

.container2 {
  width: 100%;
  padding: 50px 5vw;
  align-items: center;
}

.card_about {
  width: 100%;
  height: auto;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  background-color: #ffffff07;
}

.card-inner {
  text-align: justify;
  font-family: "libre";
  width: inherit;
  height: inherit;
  padding: 3vw 2vw;
  background: rgba(23, 23, 23, 0.1);
  box-shadow: 0 0 max(0.7vw, 0.65vh) rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(max(0.7vw, 0.65vh));
  border-radius: 8px;
}

.card-inner h1,
.RESPONSIBILITIES h1 {
  margin-bottom: max(0.7vw, 0.65vh);
  font-family: "Roboto-m";
  z-index: 2;
  color: rgba(253, 253, 253, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.RESPONSIBILITIES h1 {
  margin-bottom: 4vh;
}

.card-inner p {
  width: 90%;
  margin-left: 5%;
  font-family: "Roboto-m";
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.5px;
  word-spacing: max(0.35vw, 0.35vh);
}

@keyframes move-up6 {
  to {
    transform: translateY(-max(0.7vw, 0.65vh));
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(-max(0.7vw, 0.65vh));
  }
}

/*RESPONSIBILITIES*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#RESPONSIBILITIES {
  width: 100%;
  padding: 70px 0;
}

.response {
  display: flex;
  padding: 0 60px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container {
  background-attachment: fixed;
  perspective: 1000px;
  height: 28vh;
  width: 350px;
  max-width: 350px;
  cursor: pointer;
  margin-bottom: 20px;
}

.card {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background: transparent;
}

.front,
.back {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  box-shadow: 0 5px 10px #03140d;
  backface-visibility: hidden;
}

.front {
  display: flex;
  background: linear-gradient(to right, #1b2735, #38495a 270%);
}

.front img {
  width: 80px;
}

.content {
  transform: translateZ(60px);
  align-items: center;
}

.content h3,
.card-t {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
  font-family: "Roboto-l";
  display: flex;
  flex-direction: column;
}

.content p {
  font-family: "Roboto-m";
  font-size: 15px;
  line-height: 20px;
  padding: 10px 20px;
}

.back {
  background: linear-gradient(to left, #1b2735, #38495a 270%);
  background-size: 100% 100%;
  color: #ffffff;
  transform: rotateX(180deg);
}

/*INCENTIVES*/

.incen-content {
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading h1 {
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  background: transparent;
  font-family: "istok";
}

.incen-caro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-content: center;
}

.item {
  position: absolute;
  text-align: justify;
  background: transparent;
  border-radius: max(0.7vw, 0.65vh);
  transition: 0.5s;
  object-fit: cover;
  display: flex;
  justify-self: center;
  align-items: center;
  top: 0;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: max(0.7vw, 0.65vh);
}

.item-name {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: xx-large;
  opacity: 5;
  z-index: 2;
  transform: translateX(-50%);
  transition: 1s;
  text-align: center;
  top: max(0.7vw, 0.65vh);
  font-weight: bold;
  color: white;
  font-family: "istok";

  h2 {
    font-family: "Roboto-m";
  }
}

#next,
#prev,
#next-t,
#prev-t {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 35%;
  z-index: 2;
  left: 5vw;
}

div.trir {
  width: 2px;
  height: 2px;
  border-top: max(0.7vw, 0.65vh);
  border-radius: 9050px;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid rgb(255, 28, 28);
}

div.tril {
  width: 2px;
  height: 2px;
  border-radius: 9050px;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid rgb(28, 247, 255);
}

#next,
#next-t {
  display: grid;
  justify-items: end;
  left: unset;
  right: 5vw;
}

/*TESTIMONIALS*/
.testimonials {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}

#cards {
  position: relative;
  width: 500vw;
  height: 450px;
  display: flex;
  justify-content: space-around;
}

.card-t {
  width: 100vw;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: rgba(253, 253, 253, 1);
  position: absolute;
  transition: transform 0.5s;
}

.card-t .description {
  width: 100vw;
  padding: 0 10vw 3% 10vw;
}

.img {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 7vh;
}

.img img {
  height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
}

/*CONTACT*/

.cmplt-contact {
  height: fit-content;
}

#CONTACT {
  width: 100%;
  padding: 300px 0;
}

#cnt {
  background: linear-gradient(transparent 25%, black 41%);
}

.cont {
  width: 85%;
  max-width: 600px;
  background-color: #0b1420;
  position: absolute;
  /*bottom: 50%;*/
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0 0px 1px #ffffff;
  font-family: "Roboto-m";
  z-index: 1;
  top: -50;
}

.cont-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont h1 {
  margin-top: 0;
  color: #ffffff;
}

.cont hr {
  border-style: solid none none;
  width: 10%;
  border-width: 9px;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.form-txt {
  display: block;
  width: 90%;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  font-size: 18px;
  padding: 12px 18px;
  margin-top: 10px;
  border-radius: 20px;
  background: #ebebeb;
}

.inputBox {
  display: block;
  background: black;
  padding: 14px 0;
  color: #fff;
  cursor: pointer;
  margin-top: 25px;
  font-size: larger;
  width: 60%;
  border-radius: 20px;
}

@media screen and (max-width: 770px) {
  .cont {
    /* top: 1.2rem;*/
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cont h1 {
    font-size: 25px;
  }

  .form-txt {
    font-size: 13px;
  }

  .media h3 {
    font-size: 23px;
  }

  .media h1 {
    font-size: 35px;
  }
}

.carrier {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 0px;
}

.headings {
  text-align: center;
  color: white;
  font-family: "istok";
}

.information {
  margin-top: 1rem;
  text-align: center;
  color: #c2e4ff;
  font-family: "Roboto-m";
  padding-bottom: 20px;
}

a#wissenaire_web {
  display: flex;
  justify-content: center;
}

#links {
  align-items: center;
  justify-content: center;
}

.triangler {
  margin: max(1vw, 1vh);
  width: 0;
  height: 0;
  border-top: max(0.7vw, 0.65vh) solid transparent;
  border-bottom: max(0.7vw, 0.65vh) solid transparent;
  border-right: max(1vw, 1vh) solid rgb(28, 247, 255);
}

.trianglel {
  margin: max(1vw, 1vh);
  width: 0;
  height: 0;
  border-top: max(0.7vw, 0.65vh) solid transparent;
  border-bottom: max(0.7vw, 0.65vh) solid transparent;
  border-left: max(1vw, 1vh) solid rgb(28, 247, 255);
}

.sc-icons {
  padding-top: max(0.7vw, 0.65vh);
  padding-bottom: 20px;
  display: flex;
  column-gap: 25px;
  font-size: max(5vh, 5vw);
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 60%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  column-gap: 25px;
  align-items: center;
}

li.link:hover {
  transition: all 700ms;
  opacity: 2;
  transform: scale(1.1);
}

.icon:hover {
  outline-offset: 4px;
}

.icon i {
  margin: auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 30px;
  aspect-ratio: 1;
}

.icon:hover i,
.icon:hover img {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  outline-color: #a02d76;
  color: white;
}

.icon--twitter:hover {
  background-color: #292929;
  outline-color: #ffffff;
  color: white;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
  color: white;
}

.icon--facebook:hover {
  background-color: rgb(40, 85, 182);
  outline-color: rgb(40, 85, 182);
  color: white;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

@supports not (-webkit-touch-callout: none) {

  /*android*/
  .catxt {
    font-size: max(4.5vh, 4vw);
  }

  .wiss,
  div.wiss p {
    font-size: max(5vh, 4vw);
  }

  button.signup {
    font-size: max(2.75vw, 3vh);
  }

  .card-inner h1 {
    font-size: max(3.5vh, 3.5vw);
  }

  h1#fur {
    font-size: max(2.5vw, 2.25vh);
  }

  .card-inner p,
  .card-t p {
    font-size: max(1.9vh, 1.4vw);
  }

  .card-t .description {
    font-size: max(2.25vw, 2.25vh);
  }

  .card__title {
    font-size: max(3vh, 3vw);
  }

  .card__description {
    font-size: max(1.4vh, 1.3vw);
  }

  p.ca {
    font-size: max(3.5vh, 3.5vw);
  }

  .bb {
    font-size: max(2vh, 2vw);
  }

  .heading h1 {
    font-size: max(3.5vh, 3.5vw);
  }

  .item-name h2 {
    font-size: max(2.5vh, 2.5vw);
  }

  .headings {
    font-size: max(4.5vh, 3vh);
  }

  .information {
    font-size: max(2.5vw, 2.5vh);
  }

  div#heading {
    font-size: max(2vh, 2vw);
  }
}

@supports (-webkit-touch-callout: none) {

  /*ios*/
  .catxt {
    font-size: max(6vh, 5vw);
  }

  .wiss,
  div.wiss p {
    font-size: max(6.5vh, 5.5vw);
  }

  button.signup {
    font-size: max(3.5vw, 5vh);
  }

  h1#fur {
    font-size: max(3vw, 3vh);
  }

  .card-t .description {
    font-size: max(2.25vw, 2.25vh);
  }

  .card-inner h1 {
    font-size: max(4.5vh, 4.5vw);
  }

  .card-inner p,
  .card-t p {
    font-size: max(2.2vh, 2.2vw);
  }

  .card__title {
    font-size: max(4vh, 3vw);
  }

  .card__description {
    font-size: max(1.7vh, 1.6vw);
  }

  p.ca {
    font-size: max(4.5vh, 4.5vw);
  }

  .bb {
    font-size: max(3vh, 3vw);
  }

  .item-name h2 {
    font-size: max(2.5vh, 2.5vw);
  }

  .heading {
    font-size: max(4.5vh, 4.5vw);
  }

  .headings {
    font-size: max(5vh, 3.5vh);
  }

  .information {
    font-size: max(3.5vw, 3.5vh);
  }

  div#heading {
    font-size: max(3vh, 3vw);
  }
}
